<h1> Name: <%= "#{@contact.first_name} #{@contact.last_name}" %></h1>
<h2><%= "#{@contact.first_name}" %></h2>
<h2><%= "#{@contact.last_name}" %></h2>
<h2><%= "#{@contact.age}" %></h2>
<h2><%= "#{@contact.hair_color}" %></h2>
<h2><%= "#{@contact.eye_color}" %></h2>
<h2><%= "#{@contact.gender}" %></h2>
<%= link_to "HOME", contacts_path %>





